@media (max-width: 1080px) {
  .sidebar-slider {
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border: 4px solid transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}
