.success-page {
  width: 30%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: var(--dark-shadow);
  padding: 2em;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .success-logo {
    font-size: 3rem;
    color: #9acd32;
  }
  h4 {
    color: #9acd32;
  }
  p {
    text-align: center;
  }
}

.calendar {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  box-shadow: var(--dark-shadow);
  .rbc-time-content {
    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border: 4px solid transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      cursor: pointer;
    }
  }
}

.date {
  display: flex;
  justify-content: space-around;
  background: #c4c4c46c;
  padding: 2em;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  margin-top: 2em;
}

.add-schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title-input {
    width: 50%;
    border: none;
    padding: 1em;
  }
}
